html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-bottom:25px;
}

/* BACKGROUND IMAGE */
html { 
  background: url(../img/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* HEADER */
#header {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 30px auto;
}

#header h1 {
  padding: 0;
  margin: 0;
  font-size: 4em;
  font-family: 'Permanent Marker', cursive;
  opacity: 0.95;
  color: white;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/* NAV BAR */

nav {
  margin-top: -15px;
  font-size: 1.3em;
  font-weight: bold;
  display: block;
}

ul {
  list-style-type: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 5px;
}

li:hover {
  opacity: 0.8;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}

/* FOOTER */

footer {
    text-align: center;
    height:25px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
}

/* MAIN CONTENT */

section {
  display: block;
  margin: auto;
  background-color: #ecf0f1;
  width: 80%;
  color: #222;
  padding: 10px 25px 10px 25px;
  margin-top: 30px;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

section h2 {
  margin: 0 0 20px 0;
}

